@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* animated background */
@keyframes gradient {
  0%   { background-position:   0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position:   0% 50%; }
}

.animate-gradient {
  background: linear-gradient(270deg,
    #1c3271,   /* darkish blue */
    #284597,   /* slightly less dark blue */
    #2d4ba2,   /* lightest blue */
    #284597,
    #1c3271);
  background-size: 600% 600%;
  animation: gradient 15s ease infinite;
}
